body {
    background: #537acb;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 24px;
}

footer {
    font-size: 12px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
}

main {
    margin: auto;
    max-width: 1200px;
    padding: 50px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2em;
}

p {
    line-height: 1.2;
}

button + p, p + p {
    margin-top: 1em;
}

i {
    font-style: italic;
}


main > .card {
    margin-left: -2em;
    margin-right: -2em;
}

.card {
    border-radius: 0.5em;
    background-color: #3e5c97;

    margin-top: 50px;
    box-shadow: 0 3px 3px #1d2942;

    padding: 2em;
}

.card h2 {
    margin-bottom: 2em;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    height: 200px;
}

textarea:active, textarea:focus, button:active {
    box-shadow: inset 0 0 2px #000;
}

button {
    background-color: #d5a418;
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    color: #1d2942;
    box-shadow: 0 3px 3px #1d2942;
}

code {
    display: block;
    margin: 1em -0.5em;
    background-color: #1d2942;
    border-radius: 1em;
    padding: 0.5em;
}

.secondary {
    background-color: #537acb;
    color: #fff;
}

.break-all {
    word-break: break-all;
}

.vertical-spacer {
    margin-top: 2em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    box-sizing: border-box;
    flex: auto;
}

nav {
    margin-top: 1em;

    opacity: 0;
    animation: appear;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

#share_url,.revealed-secret {
    font-size: 24px;
    display: block;
    margin: 1em -0.5em;
    background-color: #1d2942;
    color: #fff;
    border: 0;
    padding: 0.5em;
    box-sizing: border-box;
    height: auto;
    resize: none;
}

#unlock_app + p {
    margin-top: 3em;
}


@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}
